# API
PORT=4000
NODE_ENV=development
SESSION_KEY=
URL_CLIENT=http://localhost:3000

# DB
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_SYNCHRONIZE=

# JWT
JWT_SECRET=
JWT_EXPIRATION=
JWT_ALGORITHM=

# GOOGLE AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# FACEBOOK AUTH
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET_KEY=
FACEBOOK_CALLBACK_URL=

# SENDGRID
SENDGRID_ACCESS_KEY=
SENDGRID_FROM_EMAIL=
SENDGRID_SANDBOX_MODE=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=dqy43pvrm
CLOUDINARY_API_KEY=835192148892955
CLOUDINARY_API_SECRET=-_jg_3mnzuqCYWyHqV3VYNtMnxg
